$enable-cssgrid: true;

@import '~bootstrap/scss/bootstrap';

body {
  margin: auto;
  padding: 0%;
	position: relative;
  background: #5c258d;
  background: -webkit-gradient(to right, #f5f4f8, #3f52bd);
  background: linear-gradient(to right, #f5f4f8, #3f52bd);
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    .logo {
      width: 30%;
      }
    
      .h1 {
        color: blanchedalmond;
      }
    
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(26, 165, 33);
}

.App-link {
  color: #ee6d17;
}

.h1 {
  color: blanchedalmond;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  
  

